<div class="center" *ngIf="isLoading; else showGrid">
	<img src="../../../assets/img/spinner.gif" alt="loading" class="spinner" />
</div>
<ng-template #showGrid>
	<section class="cards">
		<ng-container *ngIf="characters.length; else noResults">
			<ng-container *ngFor="let character of characters; let i = index">
				<app-character [character]="character" [id]="i"></app-character>
			</ng-container>
		</ng-container>
		<ng-template #noResults>
			<h2>No results found</h2>
		</ng-template>
	</section>
</ng-template>
