<div class="card">
	<div class="card-inner">
		<div class="card-front">
			<img
				*ngIf="character.img"
				src="{{ character.img }}"
				alt="{{ character.name }}"
			/>
			<img
				*ngIf="!character.img"
				src="../../../assets/img/no-image-found.jpg"
				alt="no image found"
			/>
		</div>
		<div class="card-back">
			<h1>{{ character.name }}</h1>
			<ul>
				<li id="portrayed-by">
					<strong>Actor Name:</strong> {{ character.portrayed }}
				</li>
				<li id="nickname">
					<strong>Nickname:</strong> {{ character.nickname }}
				</li>
				<li id="birthday">
					<strong>Birthday:</strong> {{ character.birthday }}
				</li>
				<li id="status"><strong>Status:</strong> {{ character.status }}</li>
			</ul>
		</div>
	</div>
</div>
